/* ------------------------------ GENREAL & RESET ------------------------------ */

* {
	box-sizing: border-box;
	font-family: "Barlow Condensed", sans-serif;
	margin: 0;
	outline: 0;
}

ol,
ul {
	list-style: none;
}

a {
	color: inherit;
}

address {
	font-style: normal;
}

/* ----------- Inputs */

label {
	padding: 3px;
}

button,
input,
textarea {
	align-items: stretch;
	border: 0;
	color: inherit;
	padding: 3px;
}

button {
	margin: 5px 0 5px 0;
}

/* ----------- Titres */

h1,
h2,
h3 {
	font-family: "Limelight", cursive;
}

h1,
h2 {
	text-shadow: 0 0 2px grey;
}

h2 {
	padding: 10px;
	border-bottom: 1px solid black;
}

/* ------------------------------ GENERAL BODY ------------------------------ */

header,
footer {
	background-color: #222;
	color: white;
	padding: 15px;
}

header {
	border-bottom: 3px solid white;
}

body {
	display: flex;
	flex-direction: column;
	height: 100vh;
	max-width: 100vw;
	overflow: hidden;
}

main {
	display: flex;
	flex-grow: 1;
	position: relative;
	z-index: 1;
}

footer {
	border-top: 3px solid white;
}

footer span {
	color: grey;
}

/* ------------------------------ MAP CONTAINER ------------------------------ */

#section-map {
	background-color: #666;
	position: relative;
	width: 100vw;
	z-index: 1;
}
/* Button Refresh */

#btn-reload-map {
	border-radius: 5px;
	left: 5px;
	padding: 10px;
	position: absolute;
	top: 5px;
	z-index: 1;
}

#btn-reload-map > i {
	font-size: 20px;
}

button#btn-reload-map:hover {
	background-color: rgb(41, 231, 41);
	color: white;
	text-shadow: 0 0 3px rgb(255, 255, 255);
}

button#btn-reload-map:focus > i {
	transform: rotateZ(720deg);
	transition: transform 2s cubic-bezier(0.2, 0.68, 0.58, 1);
}

/* ------------------------------ DESIGN MAPBOX ------------------------------ */

/* ----------- Markers */

.mapboxgl-marker:hover > * {
	cursor: pointer;
	transform: scale(1.2);
	transform-origin: bottom;
}

/* ----------- Pop-ups */

.popup p {
	padding: 0 5px 8px 5px;
}

.popup h3 {
	border-bottom: 1px solid black;
	margin-bottom: 6px;
	padding: 4px;
}

.mapboxgl-popup-content {
	background: #403f3f;
	color: #f8f8f8;
}

/* Date Bonus Color */

.popup span {
	color: #ff4949;
	font-weight: 700;
}

/* ------------------------------ FORM CONTAINER ------------------------------ */

#section-formulaire {
	background-color: #ccc;
	border: 15px solid #eee;
	border-left: 0;
	border-right: 0;
	border-radius: 15px 0 0 15px;
	bottom: 100px;
	display: flex;
	position: absolute;
	right: -360px;
	transition: transform 0.3s cubic-bezier(0.2, 0.68, 0.58, 1);
	width: 400px;
	z-index: 1;
}

/* ------------------------------ OUVERTURE VOLET ------------------------------ */

#form-border {
	align-items: center;
	background-color: #eee;
	display: flex;
	justify-content: center;
	padding: 20px;
	width: 30px;
}

#section-formulaire i {
	transform: rotateZ(180deg);
}
/* ----------- When hover */

#section-formulaire:hover {
	transform: translateX(-10px);
}

/* ----------- When open */

#section-formulaire.formOpen {
	transform: translateX(-360px);
}

#section-formulaire.formOpen i {
	transform: rotateZ(0deg);
	transition: transform 0.5s cubic-bezier(0.2, 0.68, 0.58, 1);
}

/* ------------------------------ GRID FORM ------------------------------ */

form {
	position: relative;
	z-index: 1;
	margin: auto;
	padding: 15px;
	display: grid;
	grid-template-columns: auto 1fr auto 1fr;
	grid-template-rows: 25px auto 25px 25px 25px 25px 5px 50px 35px;
	grid-template-areas:
		"title title title title"
		"desc desc desc desc"
		"label-time label-time label-time label-time"
		"label-s start label-e end"
		"label-co label-co label-co label-co"
		"local-lng local-lng local-lat local-lat"
		"blank blank blank blank"
		"button button button button"
		"delete delete delete delete";
	gap: 2px;
}

#input-event-title {
	grid-area: title;
}
#textarea-event-desc {
	grid-area: desc;
	resize: none;
}
#label-event-time {
	grid-area: label-time;
}
#input-event-start {
	grid-area: start;
}
#input-event-end {
	grid-area: end;
}
#label-event-localization {
	grid-area: label-co;
}
#input-event-lng {
	grid-area: local-lng;
}
#input-event-lat {
	grid-area: local-lat;
}
#div-blank {
	grid-area: blank;
}
#btn-event-submit {
	grid-area: button;
}

#btn-event-submit:hover {
	background-color: #999;
}

#btn-event-submit:active {
	background-color: #444;
	color: #eee;
}

#btn-event-deleteAll {
	background-color: rgb(206, 37, 37);
	grid-area: delete;
	color: #eee;
}
#btn-event-deleteAll:hover {
	background-color: rgb(139, 13, 13);
}
#btn-event-deleteAll:active {
	background-color: rgb(209, 136, 136);
	color: rgb(160, 17, 17);
}

/* ----------- Color Error */

.error {
	background-color: rgba(202, 15, 15, 0.4);
	border: 2px solid rgb(241, 34, 34);
}
